.register {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  align-items: center;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: #fff;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
}

.error {
  color: #ef8585;
  font-family: "Varela Round", sans-serif;
  margin-top: 10px;
}